<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<!-- <link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.6"> -->
		<style>
			/* * {
    		outline: 1px solid red;
    	} */
			@font-face {
				font-family: "inter";
				src: url("Inter-V.ttf");
				font-display: swap;
			}
			body {
				font-family: "Helvetica", sans-serif;
			}
			table {
				width: 100%;
				border-collapse: collapse;
				padding: 0;
				margin: 0;
			}
			th,
			td {
				border: 1px solid black; /* Add a 1px solid black border to table cells */
				padding: 4px;
				text-align: left;
			}
			.header {
				border: 0;
			}
			footer {
				text-align: center;
				font-style: italic;
			}
			p {
				font-size: 12px;
				font-family: "inter", sans-serif;
			}
		</style>
	</head>
	<br>
		<table width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td class="header" style="margin: 0; width: 60px">
					<img src="./quality.png" style="width: 50px; height: 50px; margin: auto" />
				</td>
				<td class="header" style="text-align: left; vertical-align: middle; width: 45%">
					<h3 style="margin: 0">Water Billing System Inc.</h3>
					<h6 style="margin: 0">Odiong, Roxas, Oriental Mindoro</h6>
					<h6 style="margin: 0">Tel No.(043)289-7056 Email: waterbillingsystem@gmail.com</h6>
				</td>
				<td class="header" style="text-align: left; vertical-align: middle; width: 45%">
					<table>
						<tr>
							<td style="width: 40%; border: none">
								<p style="margin: 0; text-align: left"><strong>Registration No.</strong></p>
							</td>
							<td style="width: 3%; border: none">
								<p style="margin: 0; text-align: center">:</p>
							</td>
							<td style="width: 50%; border: none">
								<p style="margin: 0; text-align: left">{{ reg_id }}</p>
							</td>
						</tr>
					</table>
					<table>
						<tr>
							<td style="width: 40%; border: none">
								<p style="margin: 0; text-align: left"><strong>Date</strong></p>
							</td>
							<td style="width: 3%; border: none">
								<p style="margin: 0; text-align: center">:</p>
							</td>
							<td style="width: 50%; border: none">
								<p style="margin: 0; text-align: left">{{ date }}</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<h2 style="text-align: center; margin-top: 30px"><strong>NOTICE</strong></h2>

		<h5 style="margin: 0; margin-top: 30px; margin-left: 6px">Client Information</h5>
		<table>
			<thead>
				<tr>
					<td class="header">
						<table>
							<tr>
								<td style="width: 15%; border: none">
									<p style="margin: 0; text-align: left"><strong>Name</strong></p>
								</td>
								<td style="width: 3%; border: none">
									<p style="margin: 0; text-align: center">:</p>
								</td>
								<td style="width: 82%; border: none">
									<p style="margin: 0; text-align: left">{{ name }}</p>
								</td>
							</tr>
						</table>
						<table>
							<tr>
								<td style="width: 15%; border: none">
									<p style="margin: 0; text-align: left"><strong>Meter No.</strong></p>
								</td>
								<td style="width: 3%; border: none">
									<p style="margin: 0; text-align: center">:</p>
								</td>
								<td style="width: 82%; border: none">
									<p style="margin: 0; text-align: left">{{ meter_number }}</p>
								</td>
							</tr>
						</table>
						<table>
							<tr>
								<td style="width: 15%; border: none">
									<p style="margin: 0; text-align: left"><strong>Property Type</strong></p>
								</td>
								<td style="width: 3%; border: none">
									<p style="margin: 0; text-align: center">:</p>
								</td>
								<td style="width: 82%; border: none">
									<p style="margin: 0; text-align: left">{{ property_type }}</p>
								</td>
							</tr>
						</table>
						<table>
							<tr>
								<td style="width: 15%; border: none">
									<p style="margin: 0; text-align: left"><strong>Address</strong></p>
								</td>
								<td style="width: 3%; border: none">
									<p style="margin: 0; text-align: center">:</p>
								</td>
								<td style="width: 82%; border: none">
									<p style="margin: 0; text-align: left">{{ address }}</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</thead>
		</table>

		<p>
            Dear Valued Customer, 
        </p>
        </br>
        <p>
            We hope this notice finds you well. We regret to inform you that your Roxas Water account, associated with the billing details mentioned below, currently has an overdue balance. Despite previous reminders, the outstanding amount remains unpaid, and we must now take necessary steps to address this matter.
        </p>
	</body>
</html>
